body{
    /*añade sombreado al texto*/
    text-shadow: rgb(238, 255, 0) 1px 0 10px;
    /*cambio de color de texto*/
    color: white;
    /*Implementar la fuente añadida*/
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*Poner todo el texto centrado*/
    text-align: center;
    /*Cambio de fondo*/
    background-image: url(https://wallpapers.com/images/hd/minecraft-grass-b3ruyee6ffjnguj2.jpg);

}

h1{   
    /*Cambio de tamaño del titulo*/
    font-size: 70px;
    
}

#contadorMostrado{
    font-size: 60px;
    text-shadow: rgb(0, 89, 255) 1px 0 10px;

}

button{
    /*Implementar la fuente añadida en el boton*/
    font-size: 25px;
    box-shadow: rgb(7, 255, 48) 1px 0 10px;
    background-color: rgb(2, 94, 40);
    color: white;
    font-family: "Tiny5", sans-serif;
    font-style: normal;
}

img{
    /*cambio de tamaño*/
    width: 200px;
    /*Posicionamiento y tamaño de la imagen*/
    margin-top: 100px;
    padding: 10px;
}
